* {
  box-sizing: border-box;
}
:root {
  --hlogo: 3rem;
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 3rem;
}
.trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  z-index: 3;
  opacity: 1;
}
.trigger:before {
  font-size: 2rem;
  text-align: center;
  content: "=";
  color: #336;
  transition: all 0.3s;
  line-height: 1.8rem;
  width: 2rem;
  height: 2rem;
  display: block;
  opacity: 1;
  position: absolute;
}
.trigger:checked:before {
  border-color: #fff;
  content: "+";
  transform: rotate(-45deg);
  color: #f0a;
}
@keyframes anilogo {
  from {
    transform: translateY(0);
  }
  16% {
    transform: translateY(0);
  }
  19% {
    transform: translateY(-1rem);
  }
  20% {
    transform: translateY(0);
  }
  23% {
    transform: translateY(-1rem);
  }
  25% {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}

.menu {
  transition: all 1s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0vw;
  right: -100vw;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
.menu a {
  color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
  margin: 1rem;
  text-decoration: none;
  left: 0vw;
  right: -100vw;
}
.menu a:first-child {
  margin-top: 5rem;
}
.trigger:checked ~ .menu {
  left: 0;
  right: 0;
  background-color: #1a1a33;
  transition: right 1.2s ease-in-out, background 1s ease-in-out,
    left 1s ease-in-out;
}
.trigger:not(:checked) ~ .menu {
  left: 100vw;
  right: 0;
  background-color: #1a1a33;
  visibility: hidden;
}
.trigger:checked ~ .menu a {
  transition: color 0.5s 1s;
  color: #f0a;
  font-variation-settings: "wght" 300;
}
